
services:

  # socket service
  sync:
    build: "./"
    container_name: sync
    restart: always
    volumes:
      - .:/src
      - ./database.db:/database.db
      - /var/run/docker.sock:/var/run/docker.sock
    ports:
     - "3000:3000"