@import "tailwindcss";

/* @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');


@theme {

  --color-primary: #f97316;
  --color-primary-opacity: #f973161a;
  --color-background-1: #000000;
  --color-background-2: #090909;
  --color-color-1: #cbd5e1;
  --color-color-2: #e2e8f0;
  --color-color-3: #94a3b8b8;
  --color-border: #f1f5f93d;

}

@layer components {

  /* .border {
    @apply border-[1px] border-border;
  }

  .border-dark {
    @apply border-[1px] border-border-dark;
  }

  .button {
    @apply hover:scale-[1.01] duration-150 cursor-pointer
  }
  .list {
    @apply hover:scale-x-[1.005] duration-150 cursor-pointer
  } */

  .title {
    @apply text-[32px] font-bold
  }
  .subtitle {
    @apply text-[24px] font-normal
  }
  .paragraph {
    @apply text-[20px] font-normal
  }
  .description {
    @apply text-[16px] font-normal
  }
  .label {
    @apply text-[11px] font-normal
  }

}


body {

  /* font-family: 'M PLUS Rounded 1c', sans-serif; */
  font-family: "Inter", sans-serif;
  color: var(--color-color-1);

}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
